
@{
    ViewBag.Title = "ConfirmOrder";
}

<h2>ConfirmOrder</h2>

<p>
    Вашата поръчка беше успешно приета.Ще се свържем с вас до 24 часа.Благодарим че пазарувахте при нас!
</p>

<input type="button" value="Назад" class="btn btn-group" onclick="location.href='@Request.UrlReferrer'" />