@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    Онлайн магазин GUNS.BG е създаден с цел да отговори на търсенето на ловци, охранители, полиция и цивилни граждани за качествена екипировка, оръжие, облекла и аксесоари.
</p>
<p> Изборът ни на продукти е основан на критерии като функционалност, надеждност и качество.</p>
<p>
    Имаме удоволствието да предлагаме на клиентите си огромно разнообразие от ловно, бойно, въздушно, газово и хладно оръжие, екипировка, тактическо оборудване и аксесоари на водещите производители в бранша, като непрекъснато се стремим да подобрим и разширим продуктовата си гама за да  посрещнем нуждите на клиентите си, предлагайки им възможно най-добрия избор на възможно най-атрактивната цена.
    Екипът на GUNS.BG.
</p>
<input type="button" value="Назад" class="btn btn-group" onclick="location.href='@Request.UrlReferrer'" />