@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<span class="contact">
    <p>Контакти: Мирослав Иванов</p>
    <p>abv:mirkata36@abv.bg</p>
    <p>GSM:0886650305</p>

</span>
<input type="button" value="Назад" class="btn btn-group" onclick="location.href='@Request.UrlReferrer'" />