@{
    ViewBag.Title = "Home Page";
}

@for (int i = 0; i < 4; i++)
{
    <div class="row">
        @for (int l = 0; l < 3; l++)
        {
            <div class="col-md-3 product-container">
                <img src="~/Content/images/gun.jpg" width=148px />
                <h4>Manafacturer - Weapon</h4>
                <div class="ratings">
                    <div class="empty-stars"></div>
                    <span class="price"><br />1000лв</span> <br />
                    <span class="product-buttons">
                        <button class="btn btn-primary">Разгледай</button><br />
                        <button class="btn btn-danger">Купи</button>
                    </span>
                </div>
            </div>
        }
    </div>
}