@using FinalProject.DB.Entities
@{

    ViewBag.Title = "Home Page";
}


<div class="row">
    @foreach (Weapon w in Model.Weapon)
    {
        <div class="col-md-3 product-container">
            <img src="~/Content/images/gun.jpg" width=148px />
            <h4>@w.Manafacturer.Name "@w.Model"</h4>
                <span class="price"><br />@w.Price-лв</span> <br />
                <span class="product-buttons">
                    <a href="Weapon/View/@w.Id" class="btn btn-primary">Разгледай</a>
                    <button class="btn btn-danger">Купи</button>
                </span>
            </div>     
    }
</div>

